{% extends "::base.html.twig" %}

{% block title %}Admin Login Form{% endblock %}

{% block body %}
    <a href="create">
        <div>
            <p>Dodaj nowego Dinozaura</p>
        </div>
    </a>
    <a href="showAll">
        <div>
            <p>Pokaż wszystkie dinozaury</p>
        </div>
    </a>
    <a href="selectDino">
        <div>
            <p>Porównaj dinozaura</p>
        </div>
    </a>
{% endblock %}