{% extends "::base.html.twig" %}

{% block title %}Admin Login Form{% endblock %}

{% block body %}
<form action="adminLogin" method="post">
    Login:<br>
    <input type="text" name="name"><br>
    Hasło:<br>
    <input type="password" name="password"><br>
    <input type="submit" value="Zaloguj">
</form>
{% endblock %}