{% extends "::base.html.twig" %}

{% block title %}DinoCompareBundle:DinoData:create{% endblock %}

{% block body %}
<h1>Welcome to the DinoData:create page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
