{% extends "::base.html.twig" %}

{% block title %}Edit Dino{% endblock %}

{% block body %}
    {% block topPanel %}
    {% endblock %}
    <a href="{{ asset('adminLogin') }}">
        <button>Admin</button>
    </a>
    <h1 class="mainPageTitle">PORÓWNYWARKA DINOZAURÓW</h1>
    <div id="mainPagePhotoContainer">
        <a href="{{ asset('selectDino') }}"><img src="/photo/but.jpg" width="700" id="entranceButton" class="zoom"></a>
        <h2 class="mainPageTitle">PORÓWNYWARKA DINOZAURÓW</h2>
    </div>
{% endblock %}