{% extends "::base.html.twig" %}

{% block title %}DinoCompareBundle:DinoData:selectDino{% endblock %}

{% block body %}
    {% block topPanel %}
    {% endblock %}
    <div id="topPanel">
        <a href="{{ asset("selectDino") }}">Nowe porównanie</a>
    </div>
    <h3>Wybierz gatunek dinozaura</h3>
        <div id="bigPicture" style="float: left; margin-left: 35%">
            <img id='bigPictureSelected' src='http://eloblog.pl/wp-content/uploads/2015/10/Monkey-selfie.jpg' width="300" height="240">
        </div>
        <div id="smallPicture" style="float: left">
            {% for dino in dinos %}
                <div style="float:left; padding: 2px">
                    <a href="{{ path('idSaveToSession', {'id': dino.id, 'selection': selection}) }}">
                        <img src='{{ asset( dino.getWebPath ) }}' width="120" height="96" class="imgSelectedDino">
                    </a>
                    <br>
                    {{ dino.name }}
                </div>

            {% endfor %}
        </div>

{% endblock %}

